@import './custom';

//IMPORT SECTIONS
@import "./sections/navbar";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #fe7867;
    color: #fad400;
    color: #25564b;
    color:  #23303e;
     color: #5a636c;
      color: #818498;
       color: #a7abae;
        color: #ffffff;
        color: #3dbeff;//background header

;
}