.testimonials{
    padding-top:8rem;
    padding-bottom:8rem;
    background-color:rgba(167, 171, 174,0.3) ;
    &--heading{
        font-weight: 900;
        font-family: 'Fraunces', serif;
        color: rgb(167, 171, 174);
    }
    &--about{
         color: #5a636c;
         font-family: 'Barlow', sans-serif;
        font-weight: 600;
    }
    &--name{
        font-weight: 900;
        font-family: 'Fraunces', serif;
    }
    &--title{
        color: #818498; 
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
    }
}